<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EatFood</title>
    <link rel="stylesheet" href="css/Cart.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!--*Container of the whole page-->
      <div class="container-fluid">
        <div class="row" style="min-height: 5vh"><Navbar /></div>
        <br><br><br><br>
        <div class="row" style="min-height: 35vh">
          <h1>Categories</h1>
          <div class="flexbox-container">
          <category-card
            v-on:pushnewarray="updateFoods($event)"
            class="flexbox-item"
            v-for="(category, index) in categories"
            :key="index"
            :text="category.text"
            :img="category.img">
        </categroy-card>
          </div>
        </div>
        <hr>
        <div class="row" style="min-height: 95vh" id="foods"> 
          <div class="flexbox-container">
            <food-card
            class="flexbox-item"
            v-for="(food, index) in foods"
            :key="index"
            :text="food.text"
            :img="food.img"/>
          </div>
    </div>
    <!--*Vue js-->
    <script src="js/vue.js"></script>
  </body>
</html>
